<footer>
        <div class="footer1">
            <p>POWERED BY WICEM</p>
            <img src="/images/logo_simplon.png" alt="logo simplon" class="logo_simplon">
        </div>
    </footer>
    <script src="/javascripts/front.js"></script>
</body>

</html>