<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <meta name="description" content="Project Cars est un site d'annonces de véhicules d'occasions. Les voitures reviennent de fin de leasing crédit bail 
        elles disposent d'un faible kilométrage et d'un carnet d'entretien à jour" />
    <meta name="google-site-verification" content="GXs5KoUUkNCoaAZn7wPN-t01Pywp9M3sEjnt_3_ZWPc">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2a3b73b180.js"></script>
    <link  href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <a href="/"><img src="/images/logo.jpg" alt="logo" id="logo"></a>
        </div>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <ul>
                <li><a id="homepagebtn" href="/">ACCUEIL</a></li>
                <li><a id="carstbtn" href="/catalog">ANNONCES</a></li>
                <li><a id="aboutbtn" href="/about">A PROPOS</a></li>
                <li><a href="/login" class="btn btn-danger"><span style="padding-right:5px;"
                            class="fa fa-lock"></span>CONNEXION</a>
                </li>
            </ul>
        </nav>
    </header>