<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
	<style>
		body 		{ padding-top:80px; background-color: grey; }
	</style>
</head>
<body>
<div class="container">
<% if (typeof error !=='undefined'){ %>
    <h3><%= error%></h3>
<% } %>

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Login</h1>

		<p>Login with:</p>
        <form class="form-group" method="post">
        <input type="text" name="email" placeholder="Votre email">
        <input type="password" name="password" placeholder="Votre mot de passe">
        <input type= "submit">
		</form>
	</div>

</div>
</body>
</html>