<!-- views/register.ejs -->
<% include partials/header %>
<div class="login-background">
    <img class="background-image" src="images/car_dealer3nb.png">
    <div class="form-popup" id="myForm">
        <form class=" form-container" method="post" action="/register">
            <% if (typeof error !=='undefined'){ %><h4 style="color: red"><%= error%></h4><% } %>
            <h2>Créer votre compte</h2>
            <input type="text" placeholder="Prénom" name="firstname" required>
            <input type="text" placeholder="Nom" name="lastname" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Mot de passe" name="password" required>
            <input type="password" placeholder="Confirmation mot de passe" name="passwordConfirm" required>
            <input type="checkbox" id="checkboxCGU" required>
            <label for="checkboxCGU">Veuillez accepter les CGU</label>
            <button type="submit" value="Register" class="btn">Créer votre compte</button>
        </form>
    </div>
</div>
<% include partials/footer %>

