body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.form-popup {
    display: none;
    position: fixed;
    top: 93px;
    left: 500px;
    border: 3px solid #f1f1f1;
    z-index: 9
}

.form-container {
    max-width: 400px;
    padding: 10px;
    background-color: #fff
}

.form-container input[type=password],
.form-container input[type=text] {
    width: 100%;
    padding-top: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1
}

.form-container input[type=password]:focus,
.form-container input[type=text]:focus {
    background-color: #ddd
}

.form-container .btn {
    background-color: #4caf50;
    color: #fff;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: .8
}

.form-container .cancel {
    background-color: red
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1
}